div {
  .sommaire {
    font-size: 12px;
    font-weight: bold;
    + ul {
      li {
        font-weight: normal;
        line-height: 14px;
        & a {
          font-size: 12px;
        }
      }
    }
  }
}
