.subscribe {
    h3 {
        font-size: 32px;
        font-weight: $regular;
        margin-bottom: 16px;
    }
    .form-container {
        @media (min-width: $screen-sm-min) {
            padding: 0 100px 0 100px;
        }
    }
    .email {
        width: 100%;
        height: 53px;
        margin-bottom: 16px;
        transition: $base-transition;
        input {
            width: 100%;
            height: 100%;
            outline: none;
            font-size: 16px;
        }
    }
    input {
        background-color: $base-background-color;
        color: $main-color;
        font-weight: $regular;
    }
    .button {
        @extend .email;
        input {
            text-transform: uppercase;
            font-weight: $bold;
        }
    }
}
.mc-field-group {
    padding-right: 3px;
    @media (max-width: 767px) {
        padding: 0;
    }
}
.mc-submit-group {
    padding-left: 3px;
    @media (max-width: 767px) {
        padding: 0;
    }
}
.subscribe-info {
    font-weight: $light;
}
