{{ $edition := now.Format "2006" }}
{{ $partners := index .Site.Data.edition (printf "partners%s" $edition) }}
{{ if $partners }}
<section class="partners-section">
  <div class="container">
    <h2 class="section-title">Nos soutiens, merci à eux !</h2>
    <div class="row">
    {{ range $partners.partners }}
        {{ range .elements }}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="partner-item">
            <a href="{{ .link }}" target="_blank" rel="noopener noreferrer">
              {{ $filename := printf "partners/%s" .imageUrl }}
              {{ partial "asset-image" (dict "src" $filename "alt" .name "class" "img-fluid") }}
            </a>
          </div>
        </div>
        {{ end }}
    {{ end }}
    </div>
  </div>
</section>
{{ end }}
